<header class="flex justify-between items-center h-16 bg-orange-500 text-white p-4">
    <a href="/host/add-home" class="text-lg font-bold hover:text-orange-700">Add Home</a>
    <a href="/" class="text-lg font-bold hover:text-orange-700">Go to Home</a>
  </header>