<form action="/favourites" method="post">
  <button class="bg-green-400 hover:bg-green-700 active:scale-110 text-white rounded-lg py-1 px-4" type="submit">
  Add To Favourites
  </button>
  <input type="hidden" name="id" value="<%= home.id %>" />
</form>
